<div class="container">
  <h1 class="mb-2">Museummakers</h1>

  <button class="button" class="btn mb-2">Inschrijven</button>

  <h3 class="mb-2">Jaren '50</h3>

  <ul class="art-list flex mb-2">
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
  </ul>

  <h3 class="mb-2">Klassieke beeldhouwwerken</h3>

  <ul class="art-list flex mb-2">
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
  </ul>

  <h3 class="mb-2">Industrieel</h3>

  <ul class="art-list flex mb-2">
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
  </ul>

  <h3 class="mb-2">Bizar / dada</h3>

  <ul class="art-list flex mb-2">
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
    <li class="art-list__item"><div>KUNSTWERK</div></li>
  </ul>
</div>
