<header>
  <h1>Mockturne <span>Maak &amp; Groet</span></h1>
  <nav>
    <ul>
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/depot">Depot</a>
      </li>
      <li>
        <a routerLink="/mockturne">Mockturne</a>
      </li>
    </ul>
  </nav>
</header>
<main>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="mpas">Geef je museumpas ID</label>
            <input type="text" id="mpas" formControlName="mpas">
            <button type="submit" [disabled]="!form.valid || !mpData">Zoek!</button>
        </form>
        <div *ngIf="userData" class="userdata">
            <div class="user">
                <p>Jouw bezoeken</p>
                <ul>
                    <li *ngFor="let museum of userData" [innerText]="museum.museumnaam_nl"></li>
                </ul>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>

<div>
    <app-museumpas-matcher></app-museumpas-matcher>
</div>
