<main>
    <div class="container">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <label for="mpas">Geef je museumpas ID</label>
            <input type="text" id="mpas" formControlName="mpas">
            <button type="submit" [disabled]="!form.valid || !mpData">Zoek!</button>
        </form>
        <div *ngIf="userData" class="userdata">
            <div class="user">
                <h3>Jouw bezoeken</h3>
                <ul>
                    <li *ngFor="let museum of userData" [innerText]="museum.museumnaam_nl"></li>
                </ul>
            </div>
            <div class="matches">
                <h3>Jouw matches</h3>
                <ul>
                    <li><span>[userID]</span> <button>Groeten!</button></li>
                </ul>
            </div>
        </div>

        <div class="info">
            <div>
                <h3>Interessante ontmoetingen</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam cum delectus doloremque
                    eveniet quasi sed tempora. Consectetur, recusandae repudiandae?</p>
            </div>
            <div>
                <h3>Museummaker</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam atque, est eum harum iste
                    neque.</p>
            </div>
            <div>
                <h3>Toegankelijke musea</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur corporis dignissimos
                    dolore eius eum eveniet fugiat labore, laboriosam obcaecati quidem voluptatum!</p>
            </div>
        </div>
    </div>
</main>
<footer>

</footer>

<div>
    <app-museumpas-matcher></app-museumpas-matcher>
</div>
