.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.userdata, form {
  margin: 2rem 0;
}

.userdata {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      padding: .3rem 0;

      span {
        margin-right: 1rem;
      }

      button {
        padding: .5rem;
        background-color: white;
        border: 0;
        border-radius: .5rem;
        color: rgb(0, 0, 116);
        font-weight: 600;
      }
    }
  }
}

form {
  label {
    display: block;
    margin-bottom: 1rem;
    font-weight: bold;
  }

  input {
    padding: .5rem 1rem;
    border-radius: .5rem;
    margin-right: 1rem;
    border: 2px solid white;
  }

  button {
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: .5rem;
    background: transparent;
    color: white;
  }
}
