<h1 class="mb-2">Wie wil ik groeten?</h1>
<div class="flex">
  <div class="mr-2">
    <h3 class="mb-2">Musea</h3>
    <ul class="groeten flex mb-1">
      <li class="groeten__item"></li>
      <li class="groeten__item"></li>
    </ul>
    <ul class="groeten flex mb-1">
      <li class="groeten__item"></li>
      <li class="groeten__item"></li>
    </ul>
    <ul class="groeten flex mb-1">
      <li class="groeten__item"></li>
      <li class="groeten__item"></li>
    </ul>
  </div>
  <div>
    <h3 class="mb-2">Bezoeker in het SMAK</h3>
    <app-tracker-canvas></app-tracker-canvas>
  </div>
</div>
