* {
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
}
body {
  font-family: sans-serif;
  color: #fff;
  background-color: rgb(0, 0, 116);
}
header {
  width: 100%;
  background-color: rgb(255, 58, 91);
}

.flex {
  display: flex;
}

.art-list {
  list-style: none;

  &__item {
    width: 200px;
    height: 100px;
    background-color: mediumaquamarine;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.mb-2 {
  margin-bottom: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
